<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.7/css/mdb.min.css" rel="stylesheet">
    <style>
        i {
            cursor: pointer;
        }
    </style>
</head>
<body>
<div class="container my-3 list">
    <h3>Registration</h3>
    <form method="POST" action="/register">
        <div>
            <input type="text" name="firstName" placeholder="first name" value="{{user_first_name}}" /><br />
            <input type="text" name="lastName"  placeholder="last name" value="{{user_last_name}}" /><br />
            <input type="text" name="email" placeholder="email" value="{{user_email}}" /><br />
            <input type="password" name="password" placeholder="password" value="{{user_password}}" /><br />
        </div>
        <button class="btn btn-primary mb-3" type="submit">done</button>
  </form>
</div>
</body>