<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DZ 5</title>
</head>
<body>
    <div>
        ADD
        <form action="/add" method="POST">
            <input type="text" name="id" hidden value="{{id}}">
            Name <input type="text" name="name" value="{{name}}">
            <input type="submit" value="ok">
        </form>
    </div>
    <a href="/">назад</a>
</body>
</html>
