<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>Login page To-Do list</title>
</head>
<body>
<div class="container">
<div id="login">
    <h1>Авторизация</h1>
      <input type="text" name="username" v-model="username" @focus="data = ''" placeholder="ваш логин" />
      <input type="password" name="password" v-model="password" @click="data = ''" @keyup.enter="login()" placeholder="пароль" />
      <button @click="login()">Войти</button><br>
    <p>или пройти<a href="register.html">регистрацию</a></p>
     <p>{{ data }}</p>

   </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="login.js"></script>
</body>
</html>