
.container {
    width: 1142px;
    margin: 0 auto;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    background-color: floralwhite;
    list-style-type: none;
}
li:nth-child(2n) {
    background-color: whitesmoke;
}
li p {
    padding-left: 10px;
    margin-bottom:15px;
    margin-top: 10px;
}

li p a {
     padding-left: 10px;
     margin-bottom:15px;
     margin-top: 10px;
 }

button {
   margin-left: 10px;
}

li p:first-child {
    padding-top: 10px;
}

input {
    padding: 5px;
    margin: 5px;
    width: 250px;
}

#register button, a {
    margin: 5px;
    padding: 0;
}

#login button {
    padding: 5px;
    margin: 5px;
}

#todolist button {
    padding: 5px;
    margin: 5px;
}