div class="user">
  <h1>{{firstName}} {{lastName}}</h1>

  {{#if error}}
    <h2>Произошла страшная ошибка!!!</h2>
  {{/if}}

  <ul>
    {{#each posts}}
    <li>{{this}}</li>
    {{/each}}
  </ul>
</div>