<h1>Введите данные</h1>
<form action="/news" method="post">
    <label>Раздел новостей</label><br>
    <select name="tagNews">
        {{#each tagTypes}}
            <option value="{{ tag }}" {{#if selected }} selected {{/if}}> {{ tag }}</option>
        {{/each}}
    </select><br><br>
    <label>Количество</label><br>
    <input type="number" name="countNews" value={{countNews}} /><br><br>
    <input type="submit" value="Показать" />
</form>