<h1>Введите данные</h1>
<form action="/news" method="post">
    <label>Раздел новостей</label><br>
    <select name="tagNews">
        <option value="html">html</option>
        <option value="css">css</option>
        <option value="javascript">javascript</option>
        <option value="react">react</option>
        <option value="node-js">node-js</option>
    </select><br><br>
    <label>Количество</label><br>
    <input type="number" name="countNews" /><br><br>
    <input type="submit" value="Показать" />
</form>