<div class="titles">
    <h1>{{description}}</h1>

    <ul>
        {{#each titles}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
</div>

<div class="welcome">
    <h2>{{welcome}}</h2>
</div>