<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>{{count}}</div>
    <form action="myform" method="POST">
        число <input type="text" name="countNews"><br>
        язык <input type="text" name="lang"><br>
        <input type="submit" value="ok">
    </form>
    <br>
    <div>
       число переданное накануне <span>{{tmpcount}}</span><br>
       язык переданн накануне <span>{{lang}}</span>
    </div>
</body>
</html>