<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .news {
            padding: 10px;
            margin: 10px;
            font-size: 16px;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div>
        {{#each newsList}}
        <div class="news">{{this}}</div>
        {{/each}}
    </div>
    <a href="/">назад</a>
</body>
</html>