.listThread li {
    list-style-type: none;
    font-size: 18px;
    font-style: italic;
    padding-bottom: 10px;

}

.listThread ul {
    padding-left: 0;
}

.block1,
.block2,
.block3,
.block4 {
    padding: 5px;
    border: 1px solid black;
    box-sizing: border-box;
}