<form method="POST" action="http://localhost:8888/todomongo/register">
    <input type="text" placeholder="first Name" name="firstName" /><br />
    <input type="text" placeholder="last Name" name="lastName" /><br />
    <input type="text" placeholder="email" name="email" /><br />
    <input type="password" placeholder="password" name="password" /><br />
    <input type="submit" /><br />
</form>